{% extends "management/base.html" %}

{% load static %}
{% load my_extras %}

{% block title %}Orders{% endblock title %}

{% block content %}
  <!-- Heading -->
  <div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

      <h4 class="mb-2 mb-sm-0 pt-1">Orders</h4>

      <form class="d-flex justify-content-center">
        <!-- Default input -->
        <input type="search" name="search" placeholder="Type your query" aria-label="Search" class="form-control">
        <button class="btn btn-primary btn-sm my-0 p" type="submit">
          <i class="fas fa-search"></i>
        </button>

      </form>

    </div>

  </div>
  <!-- Heading -->

  <div class="card-deck">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Total income</h5>
        <p>${{ income }}</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Orders pending</h5>
        <p>{{ orders_pending }}</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Deliveries pending</h5>
        <p>{{ deliveries_pending }}</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Orders done</h5>
        <p>{{ orders_done }}</p>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Income over time</h5>
        <canvas id="line-time-income"></canvas>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Income from cities</h5>
        <canvas id="bar-city-income"></canvas>
      </div>
    </div>
  </div>

  <!--Card-->
  <div class="card">

    <!--Card content-->
    <div class="card-body">

      <div class="table-responsive mt-4">
        <table class="table table-sm table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">User</th>
              <th scope="col">Placed on</th>
              <th scope="col">Price</th>
              <th scope="col">Payment</th>
              <th scope="col">Status</th>
              <th scope="col">Invoice</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user }}</td>
                <td>{{ order.placed }}</td>
                <td>${{ order.get_total_cost }}</td>
                <td>
                  {% if order.paid %}
                    <span class="badge bg-success">Paid</span>
                  {% else %}
                    <span class="badge bg-warning">Pending</span>
                  {% endif %}
                </td>
                <td>
                  <span class="badge bg-{{ order|order_status|order_status_colour }}">
                    {{ order|order_status }}
                  </span>
                </td>
                <td><a href="{% url 'shop:invoice' order.pk %}" class="text-primary">PDF</a></td>
                <td>
                  <a href="{% url 'management:order_detail' order.pk %}" class="btn btn-sm btn-default">View</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% include 'pagination.html' with page=orders %}

    </div>

  </div>
{% endblock content %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      var ctxLineTimeIncome = $('#line-time-income');
      var lineTimeIncome = new Chart(ctxLineTimeIncome, {
          type: 'line',
          data: {
              labels: {{ line_labels|safe }},
              datasets: [{
                  label: 'Income in USD',
                  data: {{ line_data }},
                  borderColor: '#4285F4',
                  tension: 0.1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });

      var ctxBarCityIncome = $('#bar-city-income');
      var barCityIncome = new Chart(ctxBarCityIncome, {
          type: 'bar',
          data: {
              labels: {{ bar_labels|safe }},
              datasets: [
                {
                  label: 'Income in USD',
                  data: {{ bar_data }},
                  backgroundColor: '#4285F4',
                }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    });
  </script>
{% endblock extra_scripts %}