{% load my_extras %}

<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="#" target="_blank">
      <strong class="blue-text">Ecommerce</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% with url_name=request.resolver_match.url_name %}
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
          <a class="nav-link waves-effect" href="{% url 'shop:home' %}">Home</a>
        </li>
        <li class="nav-item {% if url_name == 'product_list' %}active{% endif %}">
          <a class="nav-link waves-effect" href="{% url 'shop:product_list' %}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="#" target="_blank">Contact</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'shop:cart' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <div class="btn-group">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></button>
            <div class="dropdown-menu">
              {% if user|has_group:'admin' %}
                <a class="dropdown-item" href="{% url 'management:order_list' %}">Admin</a>
                <div class="dropdown-divider"></div>
              {% endif %}
              <a class="dropdown-item" href="{% url 'account_profile' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'shop:order_list' %}">Orders</a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </div>
          </div>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-sm waves-effect">Sign In</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-sm waves-effect">Sign Up</a>
          </li>
        {% endif %}
      </ul>

    </div>
    {% endwith %}
  </div>
</nav>
<!-- Navbar -->
